<div id="details">
    <div>
        <h1 class="emphasis">Order of Events</h1>
        <span>
            {%- for day in page.details.days -%}
            <div>
                <h2>{{ day.date }}</h2>
                <ul>
                    {%- for event in day.events -%}
                    <li>
                        <h4>- {{ event.time }} -</h4>
                        <h3>{{ event.title }}</h3>
                        <p>{{ event.location }}</p>
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
            {%- endfor -%}
        </span>
    </div>
    <div>
        <h1 class="emphasis">Locations</h1>
        <span>
            {%- for location in page.details.locations -%}
            <div>
                <p>{{ location.address }}</p>
                <iframe src="{{ location.maps_url }}" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            {%- endfor -%}
        </span>
    </div>
    <div id="rsvp">
        <form action="{{ site.rsvp_url }}" target="_blank">
            <label>Please RSVP by clicking the button below</label>
            <input type="submit" value="RSVP">
        </form>
    </div>
</div>
