<div id="intro">
    <span>
        <div>
            <div class="title">
                <h1>LAUREN</h1>
                <h3 class="cursive"><i>and</i></h3>
                <h1>DUNCAN</h1>
            </div>
            <div>
                <h3>Saturday, 6th April 2024</h3>
            </div>
            <div>
                <h4>St Patrick's Church of Ireland</h4>
                <h4><i>&amp;</i></h4>
                <h4>Tankardstown House</h4>
            </div>
        </div>
        <img src="{{ "/assets/portrait-with-paper.jpg" | relative_url }}">
    </span>
</div>
