<div id="password">
    <form id="password-form" action="" onsubmit="return false">
        <label>Please enter password:</label>
        <input id="password-input" type="text" required="true">
    </form>
    <script>
        const input = document.getElementById("password-input");

        function clearValidation() {
            input.setCustomValidity("");
            input.reportValidity();
        }

        input.addEventListener("input", clearValidation);


        function validate() {
            if (input.value.trim().toLowerCase() === "lauren and duncan") {
                document.getElementById("password").remove();

                for (const element of document.getElementsByClassName("no-scroll")) {
                    element.classList.remove("no-scroll");
                }
            } else {
                input.setCustomValidity("Please enter the correct password");
                input.reportValidity();
            }
        }
        const form = document.getElementById("password-form");
        form.addEventListener("submit", validate);
    </script>
</div>