html {
    scroll-behavior: smooth;
}

html, body, h1, h2, h3, h4, p, a {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    width: $content-width;

    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, p, a {
    font-family: $base-font-family;
    color: $text-color;
}

a {
    padding: $text-padding;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cursive {
    font-family: "Allison", cursive;
}
