#details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    text-align: center;
}

#details > div {
    width: 100%;
    margin-bottom: $nav-height;
}

#details li, #details h1, #details iframe {
    margin: $item-padding 0;
}

#details iframe {
    border: 0;
}

#details span {
    width: 100%;
    display: block;
}

#rsvp input {
    font-size: larger;
    background-color: rgba(120, 120, 120, 0.2);
    border: solid 1px black;
    border-radius: 5px;
    padding: $item-padding;
}

#rsvp input:hover {
    background-color: rgba(120, 120, 120, 0.3);
}

#rsvp input:active {
    background-color: rgba(120, 120, 120, 0.4);
}