.site-nav {
    height: calc(#{$nav-height} / 2);
    margin: calc(#{$nav-height} / 4) 0;

    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
}

.site-nav a:hover {
    background-color: $hover-color;
    border-radius: 3px;
}