#password {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

#password form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#password label {
    font-size: larger;
}

.no-scroll {
    overflow-y: hidden;
    position: fixed;
    margin: 0 calc((100vw - #{$content-width}) / 2);
}