---
---
$text-color: black;
$background-color: #d6e2db;
$border-color: grey;
$hover-color: #f4f2f2;

$base-font-family: "Playfair", serif;
$cursive-font-family: "Allison", cursive;

$text-padding: 4px;
$item-padding: 16px;

$content-width: 80vw;

$nav-height: 10vh;

@mixin is-portrait {
  @media screen and (orientation: portrait) {
    @content;
  }
}

@import "default", "password", "intro", "header", "details", "faqs";